---
http_interactions:
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/add-a-domain.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"2d0449d736b99d0ae4e684fb5ea297b8"'
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2394'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Fri, 19 Sep 2014 12:38:28 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/add-a-domain.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"2d0449d736b99d0ae4e684fb5ea297b8"'
  response:
    status:
      code: 200
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - '"b168f24346dfc990ba8da919fd130b50"'
      Last-Modified:
      - Fri, 19 Sep 2014 12:38:32 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2390'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"created_at":"2014-09-19T12:38:32Z","hostname":"add-a-domain.com","id":"92fd96f2-b745-4b0c-954b-f1a5988856dc","updated_at":"2014-09-19T12:38:32Z"}'
  recorded_at: Fri, 19 Sep 2014 12:38:34 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/campaign-create-callback.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"24604f95bdc8b0d2d90e918acc2aedfc"'
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2386'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Fri, 19 Sep 2014 12:38:37 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/remove-a-domain.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"aee2ed60448dcad8d85dfabe17a3db45"'
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2396'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Fri, 19 Sep 2014 12:38:43 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/campaign-destroy-callback.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"a78935350e3b25d14279d0ed122cd8ee"'
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2389'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Fri, 19 Sep 2014 12:38:52 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/campaign-validation-error.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"4602d8645cdb07f8ed28f4a6988f6abc"'
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2384'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Fri, 19 Sep 2014 12:38:58 GMT
[...]
- request:
    method: post
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains
    body:
      encoding: UTF-8
      string: '{"hostname":"campaign-validation-error.com"}'
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2382'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"created_at":"2014-09-19T12:39:01Z","hostname":"campaign-validation-error.com","id":"c3595497-b8ae-4503-8853-32fc6f9f57c7","updated_at":"2014-09-19T12:39:01Z"}'
  recorded_at: Fri, 19 Sep 2014 12:39:01 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/watchthinkchat-test/domains/campaign-validation-error.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dXNlcjoxMjM0
      If-None-Match:
      - '"9f337c576b5e759013f5237400c419b6"'
  response:
    status:
      code: 404
      message:
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2378'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Fri, 19 Sep 2014 12:39:06 GMT
recorded_with: VCR 2.9.3
