<!-- sidebar menu start-->
<aside>
  <div id="sidebar" class="nav-collapse">
    <!-- sidebar menu start-->
    <div class="leftside-navigation">
      <ul class="sidebar-menu" id="nav-accordion">
        <li>
          <a href="<%= root_path %>" class="<%= 'active' if current_page?(:controller => 'index') %>">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a href="<%= campaigns_path %>" class="<%= 'active' if current_page?(:controller => 'campaigns') %>">
            <i class="fa fa-laptop"></i>
            <span>Campaigns</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- sidebar menu end-->
  </div>
</aside>
<!--sidebar end-->