<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-include="'/templates/manage/inc_nav.html'">
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-include="'/templates/manage/inc_sidebar.html'">
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="pull-right"><a href="http://www.watchthinkchat.com/c/{{activeCampaign.uid}}" target="_blank">http://www.watchthinkchat.com/c/{{activeCampaign.uid}}</a></div>
            <h1 class="page-header" ng-bind="activeCampaign.title"></h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder dashboard-stat">
                    <div class="bg-info">
                        <h1 ng-bind="campaignStats.operators.length"></h1>
                    </div>
                    <h4>Operators</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder dashboard-stat">
                    <div class="bg-success">
                        <h1 ng-bind="onlineOperatorCount()"></h1>
                    </div>
                    <h4>Online Operators</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder dashboard-stat">
                    <div class="bg-info">
                        <h1 ng-bind="campaignStats.totals.total_alltime_chats"></h1>
                    </div>
                    <h4>Total Chats</h4>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder dashboard-stat">
                    <div class="bg-success">
                        <h1 ng-bind="campaignStats.totals.total_live_chats"></h1>
                    </div>
                    <h4>Current Chats</h4>
                </div>
            </div>

            <h2 class="page-header">Operators</h2>
            <div class="row">
                <div class="col-xs-4">
                    <input type="text" class="form-control" id="operator-filter" placeholder="Filter" ng-model="operatorFilter">
                </div>
                <div class="col-xs-8 text-right">
                    <span class="text-muted">Last update: {{statsUpdateTime | date:'mediumTime'}}</span>
                    <button class="btn btn-default" ng-click="refreshStats()"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Online</th>
                        <th>Current Chats</th>
                        <th>Total Chats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="o in campaignStats.operators | orderBy: ['!status', 'fullname'] | filter: operatorFilter">
                        <td>
                            <img ng-src="{{o.profile_pic}}" class="pull-left" style="padding-right:8px;">
                            <strong>{{o.fullname}}</strong><br>
                            {{o.email}}
                        </td>
                        <td><i class="fa fa-check" ng-show="o.status === 'online'"></i></td>
                        <td ng-bind="o.live_chats.length"></td>
                        <td ng-bind="o.alltime_chats"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h2 class="sub-header">Settings</h2>
            <p class="notify" ng-class="notify.class" ng-show="notify.message" ng-bind="notify.message"></p>
            <form class="form-horizontal" role="form">
                <div ng-include="'/templates/manage/inc_campaign_form.html'"></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" ng-click="saveCampaign()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>