<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="nav navbar-nav">
            <ul class="nav navbar-nav">
                <li ng-class="{active: wizardTab === 'campaign'}"><a href="" ng-click="changeWizardTab('campaign')">Campaign Settings</a></li>
                <li ng-class="{active: wizardTab === 'operator'}"><a href="" ng-click="changeWizardTab('operator')">Operator Settings</a></li>
            </ul>
        </div>
    </div><!--/.container-fluid -->
</div>

<div ng-show="wizardTab === 'campaign'">
    <h4 class="sub-header">Campaign Settings</h4>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" ng-model="activeCampaign.title">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" ng-model="activeCampaign.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeCampaign.status" ng-true-value="opened" ng-false-value="">
                    Active
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Video Source</label>
        <div class="col-sm-4">
            <select class="form-control" ng-options="i as i for i in ['youtube']" ng-model="activeCampaign.type">
            </select>
        </div>
        <label class="col-sm-2 control-label">Video Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" ng-model="activeCampaign.video_id">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Language</label>
        <div class="col-sm-10">
            <select class="form-control" ng-options="i.id as i.name for i in languages" ng-model="activeCampaign.language">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="activeCampaign.preemptive_chat">
                    Preemptive Chat - Chat begins immediately when page is loaded if operator is available.
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Growth Challenge Activate</label>
        <div class="col-sm-10">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="activeCampaign.growth_challenge" value="auto">
                    Auto - Show growth challenge immediately after response button is clicked.
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="activeCampaign.growth_challenge" value="operator">
                    Operator - Operator will trigger the growth challenge from the operator console.
                </label>
            </div>
        </div>
    </div>
</div>

<div ng-show="wizardTab === 'operator'">
    <h4 class="sub-header">Operator Settings</h4>
    <div class="form-group">
        <label class="col-sm-2 control-label">Operator Link</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="activeCampaign.permalink">
            <span class="help-block">http://www.godchat.tv/{{activeCampaign.permalink}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Operator Password</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="activeCampaign.password" placeholder="Only update if you would like to change">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Max Chats</label>
        <div class="col-sm-10">
            <select class="form-control" ng-options="i as i for i in [1, 2, 3, 4, 5, 6, 7, 8]" ng-model="activeCampaign.max_chats">
            </select>
            <span class="help-block">The maximum chats an individual operator can have at one time</span>
        </div>
    </div>
</div>