<div class="row">
  <!-- Chat Column Begin -->
  <div class="col-md-3 col-lg-2 col-sm-4 hidden-xs"></div>
  <!-- Remove chat-facebook class to hide Custom Name section -->
  <div class="col-xs-10 col-md-3 col-lg-2 col-sm-4 chat-column chat-facebook">
    <div class="header">WatchThinkChat.com</div>

    <!-- Messages Begin -->
    <div class="body">

    </div>
    <!-- Messages End -->

    <div class="form-group input">
      <input class="form-control" type="text" placeholder="Type messages here…">
    </div>
    <div class="form-group input custom-name">
      <div class="col-xs-10">
        <input class="form-control" type="text" placeholder="Name (as it appears on your birth certificate)">
      </div>
      <div class="col-xs-2 text-right">
        <img src="img/facebook.png">
      </div>
    </div>
  </div>
  <!-- Chat Column End -->

  <!-- Content Columns Begin -->

  <div class="col-md-9 col-lg-10 col-sm-8 col-xs-12 content">
    <div class="row">
      <div class="col-md-12 text-center options">
        <h1>
          Jesus asks you,<br>
          "Will you follow me?"
        </h1>
        <div class="row">
          <div class="col-lg-offset-2 col-lg-3 col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block">No thanks</a>
            <a href="#" class="btn btn-danger btn-lg btn-block">I want to start</a>
          </div>
          <div class="col-lg-3 col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block">I follow another faith</a>
            <a href="#" class="btn btn-danger btn-lg btn-block">I'm trying</a>
          </div>
          <div class="col-lg-3 col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block">I'm not sure</a>
            <a href="#" class="btn btn-danger btn-lg btn-block">I’m following Jesus</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Columns End -->
</div>

<!-- Controls Begin -->
<a href="#" class="back-button"></a>
<a href="#" class="close-button"></a>
<!-- Content Column End -->

<!-- Footer Begin -->
<footer>
  <div class="col-md-3 col-lg-2 col-sm-4 hidden-xs"></div>
  <div class="col-md-9 col-lg-10 col-sm-8 col-xs-12 content-column">
    ©2014 WatchThinkChat.com All Rights Reserved.<span class="sep">|</span><a href="#">Privacy Policy</a><span class="sep">|</span><a href="#">About Us</a>
  </div>
</footer>
<!-- Footer End -->
