<div class="visitor_chat">
  <div class="box">
    <div class="after-chat-buttons">
      <div class='btn btn-info btn-block' data-ng-click="buttonClick(button)" data-ng-repeat="button in followup_buttons">{{button.text}}</div>
    </div>
    <div id="player"></div>
    <iframe frameborder="0" id="webpage" src="about:blank"></iframe>
  </div>
  <div id="chat">
    <h1 class="special">{{campaign_data.title}}</h1>

    <div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <small class="text-muted">Jesus Asks</small>
          <br>
          Will you follow me?
        </div>
        <div class="panel-body">
          <div class="btn btn-info btn-block" id="start-btn" data-ng-click="startChat('')">Start Chat</div>
        </div>
      </div>
      <div class="panel panel-default" id="finishVideo" style="display:none;">
        <div class="panel-body">
          <p>Finish watching the video, then we can chat.</p>
        </div>
      </div>
    </div>
    <div id="chatbox">
      <h1 class="special">{{campaign_data.title}} Chat</h1>
      <ul class="conversation">
      </ul>
      <input class="form-control chat-input" placeholder="Message..." type="text" ng-enter="postMessage()" data-ng-model="chatMessage">
    </div>
  </div>
</div>