<style>
.after-chat-challenge {display: none;}
</style>
<div class="row">
  <!-- Chat Column Begin -->
  <div class="col-md-3 col-lg-3 col-sm-4 hidden-xs"></div>
  <!-- Remove chat-facebook class to hide Custom Name section -->
  <div class="col-xs-10 col-md-3 col-lg-3 col-sm-4 chat-column chat-facebook" ng-class="{minimized: mobileMinChat}">
    <div class="header" ng-click="mobileMinChat=!mobileMinChat"><span class="title">WatchThinkChat</span></div>

    <div class="panel-body" data-ng-show="!liveChat">
      <div class="btn btn-danger btn-lg btn-block" data-ng-click="startChat('')">Start Chat</div>
      <p id="finishVideo" style="display:none;">Finish watching the video, then we can chat.</p>
      <p id="noOperators" style="display:none;">No operators are currently available to chat.</p>
      <p id="chatEnd" style="display:none;">The operator has ended this chat session. Thanks for the chatting.</p>
    </div>

    <!-- Fixed Operator Begin -->
    <div class="content operator" data-ng-show="liveChat">
    </div>
    <!-- Fixed Operator End -->
    <!-- Messages Begin -->
    <div class="body" data-ng-show="liveChat">
    </div>
    <!-- Messages End -->
    <div class="form-group input" data-ng-show="liveChat">
      <input class="form-control" type="text" placeholder="Type messages here…" ng-enter="postMessage()" data-ng-model="chatMessage">
    </div>
    <div class="form-group input custom-name" data-ng-show="liveChat">
      <div class="col-xs-10">
        <input class="form-control" type="text" placeholder="Name">
      </div>
      <div class="col-xs-2 text-right">
        <a href="#" title="Login with Facebook" data-ng-click="facebookLogin();"><img src="<%= asset_path("facebook.png") %>"></a>
      </div>
    </div>
  </div>
  <!-- Chat Column End -->

  <!-- Content Columns Begin -->
  <div id="player" class="col-lg-9" style="position: fixed;
          top: 0;
          height: calc(100% - 40px);"></div>
  <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 content">
    <div class="row">

      <div class="col-md-12 text-center options after-chat-buttons" style="display:none;">
        <h1>
          Jesus asks you,<br>
          "Will you follow me?"
        </h1>
        <div class="row">
          <div class="col-lg-offset-2 col-lg-3 col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block" data-ng-click="buttonClick(button)" data-ng-repeat="button in campaign_data.followup_buttons | limitTo: 2">{{button.text}}</a>
          </div>
          <div class="col-lg-3 col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block" data-ng-click="buttonClick(button)" data-ng-repeat="button in campaign_data.followup_buttons | limitTo: 4 | limitTo: -2">{{button.text}}</a>
          </div>
          <div class="col-lg-3 col-md-4">
            <a href="#" class="btn btn-danger btn-lg btn-block" data-ng-click="buttonClick(button)" data-ng-repeat="button in campaign_data.followup_buttons | limitTo: 6 | limitTo: -2">{{button.text}}</a>
          </div>
        </div>
      </div>

      <!--<growth-challenge></growth-challenge>-->
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 content-column">
        <div class="after-chat-information" ng-show="growthChallengeStep===1">
          <p>{{button_clicked.message_visible}}</p>
        </div>
        <div class="after-chat-information" ng-show="growthChallengeStep===2 || growthChallengeStep===3">
          <h1>Take the Growth Challenge!</h1>
          <p>
            It’s simple and it’s free! Over the next
            4 weeks we’ll share 4 thought-provoking videos about growing closer to God
            over email.
          </p>
          <h2>Why involve one of your Christian friends?</h2>
          <p>
            By connecting with your own trusted Christian friend, you can challenge and encourage one another.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 content-column">
        <div class="row after-chat-challenge">
          <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray">
            <h1>Interested in taking our Free 4-week Growth Challenge Video Series?</h1>
          </div>
        </div>
        <div class="row after-chat-challenge">
          <a href="#" title="Learn More" ng-click="growthChallengeNextStep(2)">
            <div class="col-md-12 col-lg-offset-4 col-lg-8 box red">
              <div class="forward-button"></div>
              Learn More
            </div>
          </a>
        </div>

        <div class="row after-chat-information" ng-show="growthChallengeStep==2 || growthChallengeStep===3">
          <div class="col-md-12 col-lg-offset-4 col-lg-8 box red">
            <h2>Get Started!</h2>
          </div>
        </div>
        <div class="row after-chat-information" ng-show="growthChallengeStep===2 || growthChallengeStep===3">
          <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray" ng-class="{dim: growthChallengeStep!==2}">
            <h2>Step 1: Video Series</h2>
            <p>Enter your email or login with Facebook.</p>
            <form class="form-inline">
              <div class="form-group input">
                <input class="form-control" type="email" placeholder="Email" data-ng-model="visitor_email">
                <a href="#" class="btn btn-danger"><i class="fa fa-facebook-square"></i></a>
                <button type="submit" class="btn btn-default btn-danger" ng-click="growthChallengeNextStep(3)">Submit</button>
              </div>
            </form>
            <small>Privacy Policy: Don’t worry we won’t sell or torture your personal data.</small>
          </div>
        </div>
        <div class="row after-chat-information"  ng-show="growthChallengeStep===2 || growthChallengeStep===3">
          <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray step2" ng-class="{dim: growthChallengeStep!==3}">
            <h2>Step 2: Add Friend</h2>
            <p>Invite your Christian Friend</p>
            <a href="#" class="btn btn-large btn-danger btn-block"><i class="fa fa-facebook-square"></i> Invite via Facebook</a>
            <a href="#" class="btn btn-large btn-danger btn-block"><i class="fa fa-envelope-o"></i> Invite via Email</a>
            <a href="#" class="btn btn-large btn-danger btn-block"><i class="fa fa-frown-o"></i> Go it alone</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Columns End -->
</div>

<!-- Controls Begin -->
<a href="#" class="back-button"></a>
<a href="#" class="close-button"></a>
<!-- Content Column End -->

<!-- Footer Begin -->
<footer>
  <div class="col-md-3 col-lg-3 col-sm-4 hidden-xs"></div>
  <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 content-column">
    ©2014 WatchThinkChat.com All Rights Reserved.<span class="sep">|</span><a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy Policy</a><span class="sep">|</span><a href="#">About Us</a>
  </div>
</footer>
<!-- Footer End -->
<privacy-policy></privacy-policy>
<audio id="newMsgAlert"><source src="<%= asset_path("notify.ogg") %>" type="audio/ogg"><source src="<%= asset_path("notify.mp3") %>" type="audio/mpeg"><source src="<%= asset_path("notify.wav") %>" type="audio/wav"></audio>