<div class="after-chat-information" id="after-chat-information-01">
  <p>{{button_clicked.message_visible}}</p>
</div>
<div class="after-chat-information" id="after-chat-information-02">
  <p>Following Jesus is deeply rewarding, but it takes some effort :) We have a simple 4 email Growth Challenge we believe will make a real difference in your life. Each email has video based content for you to interact with a Christian friend you know and trust.</p>
  <div style="max-width:726px;margin:auto;display:block;">
    <img src="<%= asset_path("content-friend.png") %>" style="max-width:100%;">
  </div>
  <p style="padding-top:20px;"><strong>Step 1</strong>: To get started with our free growth challenge content: enter your email address here:</p>
  <div style="margin:20px auto 0 auto;width:85%;display:block;height:140px;">
    <input type="email" class="form-control" ng-enter="nextStep(3)" placeholder="Email Address..." data-ng-model="visitor_email">
    <div class='btn btn-success btn-block' data-ng-click="nextStep(3)">Continue ></div>
  </div>
  <br><p style="font-size: 60%;">*<a href="#" data-toggle="modal" data-target="#privacy-policy">Privacy policy</a> - We won't sell or torture your personal data :)</p>
</div>
<div class="after-chat-information" id="after-chat-information-03">
  <img src="<%= asset_path("growth_challenge_logo.png") %>" style="margin: auto;
          display: block;
          width: 270px;
          padding-bottom: 16px;">
  <p>Thanks for completing step 1 and registering to get the 4 part Growth Challenge over email.<br>
    Step 2 is an opportunity to turbo charge your challenge by adding a Christian friend you know and trust to the experience! Sure, you can just go it alone from here, but having a friend is going to make a world of difference to how far you go.</p>
  <p style="font-size:24px;text-align: center;">Choose one of two ways to add your friend, or go it alone.</p>
  <div class="friend-share-options">
    <a href="#" data-ng-click="nextStep(4)"><img src="<%= asset_path("facebook.jpg") %>"></a>
    <span>or</span>
    <a href="#" data-ng-click="nextStep(5)"><img src="<%= asset_path("email.jpg") %>" align="right"></a>
  </div>
</div>
<div class="modal" id="after-chat-information-05" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form" role="form">
          <div class="form-group">
            <label>Your Name</label>
            <input type="text" class="form-control" data-ng-click="visitor_name">
          </div>
          <div class="form-group">
            <label>Your Email</label>
            <input type="email" class="form-control" data-ng-model="visitor_email">
          </div>
          <div class="form-group">
            <label>Friends Email</label>
            <input type="text" class="form-control" data-ng-model="friend_email">
          </div>
          <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" rows="10">I just watched a Christian film called #FallingPlates and decided to accept the "Growth Challenge" that was offered. I got to pick one friend to help me grow spiritually and I chose you!

Would you be willing to help by looking at the email content we would get, and then discussing it with me? This means 4 emails, 4 conversations over 4 weeks. That's it.

Lets take the challenge together!
You can click here to find out more information:
{{friend_url}}
            </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-ng-click="nextStep(6)">Send</button>
      </div>
    </div>
  </div>
</div>
<div class="after-chat-information" id="after-chat-information-06">
  <h1>Thank You!</h1>
  <p>Check Out: EveryStudent.com<br>Get plugged in when visiting: http://www.cru.org</p>
</div>

<privacy-policy></privacy-policy>