<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 content-column">
  <div class="after-chat-information" ng-show="growthChallengeStep===1" ng-bind-html="button_clicked.message_visible">
  </div>
  <div class="after-chat-information" ng-show="(growthChallengeStep===2 || growthChallengeStep===3) && christianFriendEmail===''">
    <h1>{{translation.GC_TITLE}}</h1>
    <p>{{button_clicked.message_growth_challenge}}</p>
    <h2>{{button_clicked.message_friend_title}}</h2>
    <p>{{button_clicked.message_friend}}</p>
  </div>
  <div class="after-chat-information" ng-show="(growthChallengeStep===2 || growthChallengeStep===3) && christianFriendEmail!==''">
    <h1>{{translation.GC_TITLE}}</h1>
    <p>{{translation.GC_YOUR_FRIEND}} {{christianFriendName}} ({{christianFriendEmail}}) {{translation.GC_YOUR_FRIEND_2}}</p>
    <h2>{{translation.GC_WHATS_INVOLVED}}</h2>
    <p>{{christianFriendName}} ({{christianFriendEmail}}) {{translation.GC_YOUR_FRIEND_3}}</p>
  </div>
  <div ng-show="growthChallengeStep===9">
    <p>{{translation.GC_COMPLETE_GO_IT_ALONE}}</p>
    <p ng-bind-html="translation.GC_COMPLETE_SIGNATURE"></p>
  </div>
  <div ng-show="growthChallengeStep===10" ng-bind-html="button_clicked.message_finished">
  </div>
  <div ng-show="growthChallengeStep===99">
    <p>{{translation.GC_EXIT}}</p>
    <p ng-bind-html="translation.GC_COMPLETE_SIGNATURE"></p>
  </div>
</div>
<div class="col-md-6 col-lg-6 content-column">
  <div class="row after-chat-challenge" ng-show="growthChallengeStep<99">
    <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray" ng-click="growthChallengeNextStep(2)">
      <h1>{{translation.GC_HEADING}}</h1>
    </div>
  </div>
  <div class="row after-chat-challenge" ng-show="growthChallengeStep<99">
    <a href="#" title="Learn More" ng-click="growthChallengeNextStep(2)">
      <div class="col-md-12 col-lg-offset-4 col-lg-8 box red">
        <div class="forward-button"></div>
        {{translation.GC_LEARN_MORE}}
      </div>
    </a>
  </div>

  <div class="row" ng-show="growthChallengeStep==2 || growthChallengeStep===3">
    <div class="col-md-12 col-lg-offset-4 col-lg-8 box red">
      <h2>{{translation.GC_GET_STARTED}}</h2>
    </div>
  </div>
  <div class="row" ng-show="growthChallengeStep===2 || growthChallengeStep===3">
    <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray" ng-class="{dim: growthChallengeStep!==2}">
      <h2>{{translation.GC_STEP1}}</h2>
      <p>{{translation.GC_STEP1}}</p>
      <form class="form-inline">
        <div class="form-group input">
          <input class="form-control" type="email" placeholder="Email" ng-model="visitor_email">
          <a href="#" class="btn btn-danger" ng-click="facebookLogin();" ng-show="visitor_data.fb_id===''" ng-attr-title="{{translation.GC_STEP1_FB_PRIVACY}}"><i class="fa fa-facebook-square"></i></a>
          <button type="submit" class="btn btn-default btn-danger" ng-click="growthChallengeNextStep(3)">{{translation.GC_STEP1_SUBMIT}}</button>
        </div>
      </form>
      <small>{{translation.GC_STEP1_PRIVACY}}</small>
    </div>
  </div>
  <div class="row"  ng-show="(growthChallengeStep===2 || growthChallengeStep===3) && christianFriendEmail===''">
    <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray step2" ng-class="{dim: growthChallengeStep!==3}">
      <h2>{{translation.GC_STEP2}}</h2>
      <p>{{translation.GC_STEP2_SUBTITLE}}</p>
      <a href="#" class="btn btn-large btn-danger btn-block" ng-click="growthChallengeInviteFriend('fb')"><i class="fa fa-facebook-square"></i> {{translation.GC_STEP2_FB}}</a>
      <a href="#" class="btn btn-large btn-danger btn-block" ng-click="growthChallengeInviteFriend('email')"><i class="fa fa-envelope-o"></i> {{translation.GC_STEP2_EMAIL}}</a>
      <a href="#" class="btn btn-large btn-danger btn-block" ng-click="growthChallengeStep=9" ng-hide="button_clicked.id===6"><i class="fa fa-frown-o"></i> {{translation.GC_STEP2_ALONE}}</a>
    </div>
  </div>
  <div class="row"  ng-show="(growthChallengeStep===2 || growthChallengeStep===3) && christianFriendEmail!==''">
    <div class="col-md-12 col-lg-offset-4 col-lg-8 box gray step2" ng-class="{dim: growthChallengeStep!==3}">
      <h2>{{translation.GC_STEP2_2}}</h2>
      <a href="#" class="btn btn-large btn-danger btn-block" ng-click="growthChallengeInviteFriend('accept')"><i class="fa fa-check"></i> {{translation.GC_STEP2_ACCEPT}}</a>
      <a href="#" class="btn btn-large btn-danger btn-block" ng-click="growthChallengeInviteFriend('fb')"><i class="fa fa-facebook-square"></i> {{translation.GC_STEP2_INVITE}}</a>
      <a href="#" class="btn btn-large btn-danger btn-block" ng-click="growthChallengeStep=9"><i class="fa fa-frown-o"></i> {{translation.GC_STEP2_ALONE}}</a>
    </div>
  </div>
  <div class="row" ng-show="growthChallengeStep===9 || growthChallengeStep===10">
    <iframe src="https://www.surveymonkey.com/s.aspx?sm=Q6qPjnUyhycI2h1eIECQ3Q%3d%3d" style="border:none;width:100%;height:100%;min-height: 480px;"></iframe>
  </div>
  <div class="row" ng-show="growthChallengeStep===99">
    <iframe src="https://www.surveymonkey.com/s.aspx?sm=Cw8SFge7kJBp8a5XPYjbr9nPofo24uDm%2fX6jjKaeGMfuYzQoFI6lY4169Iz7qTkM" style="border:none;width:100%;height:100%;min-height: 480px;"></iframe>
  </div>
  <div class="row" ng-show="growthChallengeStep===100">
    <div class="col-md-12 col-lg-offset-4 col-lg-8">
      <p>{{translation.GC_FEEDBACK}}</p>
    </div>
  </div>
</div>



<div class="modal" id="growth-challenge-invite-friend" tabindex="-1" role="dialog" style="color:#000;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form" role="form">
          <div class="form-group">
            <label>{{translation.GC_FORM_YOUR_NAME}}</label>
            <input type="text" class="form-control" data-ng-model="visitor_name" required>
          </div>
          <div class="form-group">
            <label>{{translation.GC_FORM_YOUR_EMAIL}}</label>
            <input type="email" class="form-control" data-ng-model="visitor_email">
          </div>
          <div class="form-group">
            <label>{{translation.GC_FORM_FRIENDS_NAME}}</label>
            <input type="text" class="form-control" data-ng-model="friend_name">
          </div>
          <div class="form-group">
            <label>{{translation.GC_FORM_FRIENDS_EMAIL}}</label>
            <input type="email" class="form-control" data-ng-model="friend_email">
          </div>
          <div class="form-group">
            <label>{{translation.GC_FORM_MESSAGE}}</label>
            <textarea class="form-control" rows="10" data-ng-model="email_message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p style="display:none;">Sending...</p>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{translation.GC_FORM_CLOSE}}</button>
        <button type="button" class="btn btn-success" data-ng-click="growthChallengeInviteFriend('sendemail')">{{translation.GC_FORM_SEND}}</button>
      </div>
    </div>
  </div>
</div>