<div class="operator">
  <div class="activity">
    <h3 class='special'>Active Chats</h3>
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://meisatransportation.com/img/Person_Undefined_Male_Light.png" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://meisatransportation.com/img/Person_Undefined_Male_Light.png" alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Media heading</h4>
        </div>
      </li>
    </ul>
  </div>
  <div id='chat'>
    <div class='chatbox'>
      <h1 class='special'>Visitor #1</h1>
      <ul class='conversation'>
      </ul>
      <input class="form-control chat-input" placeholder="Message..." type="text" ng-enter="postMessage()" data-ng-model="chatMessage">
    </div>
    <div class='chatbox'>
      <h1 class='special'>Visitor #2</h1>
      <ul class='conversation'>
      </ul>
      <input class="form-control chat-input" placeholder="Message..." type="text" ng-enter="postMessage()" data-ng-model="chatMessage">
    </div>
    <div class='chatbox'>
      <h1 class='special'>Visitor #3</h1>
      <ul class='conversation'>
      </ul>
      <input class="form-control chat-input" placeholder="Message..." type="text" ng-enter="postMessage()" data-ng-model="chatMessage">
    </div>
  </div>
</div>