<div class="operator">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <strong>
            <i class="fa fa-comments-o">&nbsp;</i>
            Godchat
            <span class="text-muted">Beta</span>
          </strong>
        </a>

        <div class="shareurl">
          <img src="{{operator_data.profile_pic}}">
          <h3>{{operator_data.name}}</h3>
          {{operator_chat_url}} <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{operator_chat_url}}&p[images][0]=&p[title]=" target="_blank" style="color:#fff;">
          <i class="fa fa-share">&nbsp;</i>
        </a>

        </div>
      </div>
    </div>
  </div>
  <div class="activity">
    <h3 class='special'>Active Sessions</h3>
    <ul class="media-list" id="activesessions">
      <li class="media link" id="session_{{session.chat_uid}}" data-ng-click="switchChat(session.chat_uid);" ng-repeat="session in active_sessions">
        <div class="pull-left">
          <img class="media-object" src="{{session.visitor_profile}}" alt="">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{session.visitor_name}}</h4>
          <i class="fa fa-exclamation newmessage">&nbsp;</i>
          <p>{{session.activity}}</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="operator_status operator_status_offline" data-ng-click="toggleOperatorStatus()" title="Click to toggle status">
    Offline
  </div>
  <div id="chat">
    <div class="chatbox" id="chatbox_{{session.chat_uid}}" ng-repeat="session in active_sessions" style="display:none;">
      <div class="btn btn-danger" data-ng-click="endChat(session.chat_uid)" style="float:right;margin:12px;">End Chat</div>
      <h1 class="special">
        <span data-ng-show="!operator_edit_mode" data-ng-click="operator_edit_mode=true" style="cursor: pointer;">{{session.visitor_name}}</span>
        <input type="text" data-ng-model="session.visitor_name" data-ng-show="operator_edit_mode" ng-enter="operator_edit_mode=false">
      </h1>
      <ul class="conversation">
      </ul>
      <input class="form-control chat-input chat-message" placeholder="Message..." type="text" ng-enter="postMessage(session.chat_uid)">
    </div>
  </div>
</div>

<audio id="operatorAlert"><source src="http://demos.9lessons.info/notify/notify.ogg" type="audio/ogg"><source src="http://demos.9lessons.info/notify/notify.mp3" type="audio/mpeg"><source src="http://demos.9lessons.info/notify/notify.wav" type="audio/wav"></audio>