<div class="operator">
  <div class="password-overlay">
    <p>Please enter the campaign password to continue:</p>
    <form class="form-inline" role="form">
      <input data-ng-model="campaignPassword" type="password" placeholder="password..." class="form-control" style="width:40%;" ng-enter="validatePassword(); requestNotifyPermission();" autofocus>

      <div class="btn btn-primary" data-ng-click="validatePassword(); requestNotifyPermission();">Validate</div>
    </form>
    <div class="alert alert-danger">Invalid Password</div>
  </div>

  <div class="modal" id="endchat-overlay" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Save Chat</h4>
        </div>
        <div class="modal-body">
          <form class="form" role="form">
            <div class="form-group" style="width:49%;display:inline-block;">
              <label class="control-label">Response to follow Jesus</label>
              <div class="">
                <p class="form-control-static" ng-bind-html="endchat_session.activity_display"></p>
              </div>
            </div>
            <div class="form-group" style="width:49%;display:inline-block;margin-bottom:0;vertical-align:top;">
              <label class="control-label">Link shared by</label>
              <div>
                <img src="{{endchat_session.requested_operator.profile_pic}}" style="float:left;">
                <p class="form-control-static">{{endchat_session.requested_operator.name}}</p>
              </div>
            </div>
            <h4>Who are they</h4>
            <div class="form-group">
              <label>Persons name</label>
              <input type="text" class="form-control" data-ng-model="endchat_session.visitor_name">
            </div>

            <div class="form-group">
              <label>Contact email</label>
              <input type="email" class="form-control" data-ng-model="endchat_session.visitor_email">
            </div>
            <h4>Next steps</h4>
            <div class="form-group">
              <label>Call to action</label>
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group">
              <label>Notes</label>
              <textarea class="form-control" rows="3" data-ng-model="endchat_session.notes"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-ng-click="endChatDialogSave()">Save &amp; Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <strong>
            <i class="fa fa-comments-o">&nbsp;</i>
            Godchat
            <span class="text-muted">Beta</span>
          </strong>
        </a>
        <div class="shareurl">
          <img src="{{operator_data.profile_pic}}">
          <h3>{{operator_data.name}}</h3>
          <input type="text" data-ng-model="operator_chat_url" readonly style="width:380px;"> <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{operator_chat_url}}&p[images][0]=&p[title]=" target="_blank" style="color:#fff;" title="Share link with Facebook">
          <i class="fa fa-facebook-square">&nbsp;</i>
        </a>

        </div>
      </div>
    </div>
  </div>
  <div class="activity" id="activesessions">
    <h3 class='special'>Active Sessions</h3>
    <ul class="media-list">
      <li class="media link" id="session_{{session.chat_uid}}" data-ng-click="switchChat(session.chat_uid);" ng-repeat="session in active_sessions | filter: {status: 'active'}:true">
        <div class="pull-left">
          <img class="media-object" src="{{session.visitor_profile}}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{session.visitor_name}}</h4>
          <i class="fa fa-exclamation newmessage">&nbsp;</i>
          <p ng-bind-html="session.activity_display"></p>
        </div>
      </li>
      <li data-ng-show="(active_sessions|filter:{status:'active'}:true).length == 0">You do not have any active chat sessions yet. They will appear here when you do.</li>
    </ul>

    <h3 class='special'>Inactive Sessions</h3>
    <ul class="media-list">
      <li class="media link" id="session_{{session.chat_uid}}" data-ng-click="switchChat(session.chat_uid);" ng-repeat="session in active_sessions | filter: {status: 'inactive'}:true">
        <div class="pull-left">
          <img class="media-object" src="{{session.visitor_profile}}">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{session.visitor_name}}</h4>
          <i class="fa fa-exclamation newmessage">&nbsp;</i>
          <p ng-bind-html="session.activity_display"></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="operator_status operator_status_offline" data-ng-click="toggleOperatorStatus()" title="Click to toggle status">
    Offline
  </div>
  <div id="chat">
    <div class="chatbox" id="chatbox_{{session.chat_uid}}" ng-repeat="session in active_sessions" style="display:none;">
      <div class="btn btn-danger" data-ng-click="endChat(session.chat_uid)" style="position:absolute;margin:12px;right:0;z-index:1;">End Chat</div>
      <div class="btn btn-warning" data-ng-show="session.activity != '' && session.status === 'active'" data-ng-click="showChallenge(session.chat_uid)" style="position:absolute;margin:12px;right:85px;z-index:1;">Show Challenge</div>
      <div data-ng-show="operator_edit_mode" style="margin-top: 8px;">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">Visitor Name</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" data-ng-model="session.visitor_name" ng-enter="operator_edit_mode=false">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Visitor Email</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" data-ng-model="session.visitor_email" ng-enter="operator_edit_mode=false">
            </div>
          </div>
        </form>
      </div>
      <h1 class="special" data-ng-show="!operator_edit_mode" data-ng-click="operator_edit_mode=true" style="cursor: pointer;">
        {{session.visitor_name}}
      </h1><span data-ng-show="!operator_edit_mode" data-ng-click="operator_edit_mode=true" style="text-align: center;width: 100%;position: absolute;cursor: pointer;margin-top: -32px;">
      {{session.visitor_email || 'Click here to set visitor name/email'}}
      </span>
      <ul class="conversation">
        <li ng-class="message.class" data-ng-repeat="message in session.chatMessages">
          <div class="timestamp timestamp-refresh" timestamp="{{message.time}}">Just
            Now
          </div>
          <div class="person" ng-if="message.person === 'visitor'">{{session.visitor_name}}</div>
          <div class="person" ng-if="message.person !== 'visitor'">{{message.person}}</div>
          <div ng-class="message.messageClass" ng-bind-html="message.message"></div>
        </li>
      </ul>
      <div class="user_info">
        <h3 class="special">Visitor Info</h3>
        <label class="control-label">Link shared by</label>
        <div>
          <img src="{{session.requested_operator.profile_pic || ''}}" style="float:left;padding:0 6px 6px 0;width:50px;height:50px;">
          <p class="form-control-static">{{session.requested_operator.name}}</p>
        </div>
        <div style="clear:both;">
          <label class="control-label">Browser</label>
          <p class="form-control-static">{{session.browser}}</p>
        </div>
        <label class="control-label">IP Address</label>
        <div>
          <p class="form-control-static">{{session.ip}}</p>
        </div>
        <label class="control-label">OS</label>
        <div>
          <p class="form-control-static">{{session.os}}</p>
        </div>
        <label class="control-label">Location</label>
        <div>
          <p class="form-control-static">{{session.geolocation.city}}, {{session.geolocation.region_name}} {{session.geolocation.country_code}}</p>
        </div>

        <div style="position: absolute; bottom: 10px; width:95%;">
          <p><strong>Canned Responses</strong></p>
          <button type="button" class="btn btn-success" style="float:right;" data-ng-click="copyCannedMessage(session.chat_uid);">Copy <i class="fa fa-level-down">&nbsp;</i></button>
          <select style="width:150px;margin-top:6px;" data-ng-model="session.selectedCannedMessage" ng-options="response.response as response.name for response in cannedResponses"></select>
        </div>
      </div>
      <input class="form-control chat-input chat-message" placeholder="Message..." type="text" ng-enter="postMessage(session.chat_uid)" data-ng-show="session.status === 'active'">
    </div>
  </div>
</div>

<audio id="newMsgAlert"><source src="<%= asset_path("notify.ogg") %>" type="audio/ogg"><source src="<%= asset_path("notify.mp3") %>" type="audio/mpeg"><source src="<%= asset_path("notify.wav") %>" type="audio/wav"></audio>