<div class="operator">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <strong>
            <i class="fa fa-comments-o">&nbsp;</i>
            Godchat
            <span class="text-muted">Beta</span>
          </strong>
        </a>

        <div class="shareurl">
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/260659_1615307648_1433519762_q.jpg">
          <h3>Adam Meyer</h3>
          {{operator_chat_url}} <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{operator_chat_url}}&p[images][0]=&p[title]=" target="_blank" style="color:#fff;">
          <i class="fa fa-share">&nbsp;</i>
        </a>

        </div>
      </div>
    </div>
  </div>
  <div class="activity">
    <h3 class='special'>Active Sessions</h3>
    <ul class="media-list" id="activesessions">
      <li class="media link" id="session_{{session.chat_uid}}" data-ng-click="switchChat(session.chat_uid);" ng-repeat="session in active_sessions">
        <div class="pull-left">
          <img class="media-object" src="{{session.visitor_profile}}" alt="...">
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{session.visitor_name}}</h4>
          <p class="newmessage">New Message!<i class="fa fa-exclamation">&nbsp;</i></p>
        </div>
      </li>
    </ul>
  </div>
  <div id="chat">
    <div class="chatbox" id="chatbox_{{session.chat_uid}}" ng-repeat="session in active_sessions" style="display:none;">
      <h1 class="special">{{session.visitor_name}}</h1>
      <ul class="conversation">
      </ul>
      <input class="form-control chat-input" placeholder="Message..." type="text" ng-enter="postMessage('chatbox_'+session.chat_uid)">
    </div>
  </div>
</div>