<div class="modal" id="privacy-policy" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <p>We are a Christian organization called <a href="http://cru.org/" target="_blank">Cru</a>. We simply use your email address for the purpose of delivering the "Growth Challenge" content to your inbox. Your details are stored securely and we won’t sell or share your email address with any other party. If you need more policy details and you want to die of boredom, see the full privacy policy <a href="/privacypolicy" target="_blank">here</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>