<div class="site">
  <%= render 'header' %>
  <div class="section_header">
    <div class="container">
      <h3>
        Godchat Privacy Policy
      </h3>
    </div>
  </div>
    <div class="container">
      <p>Your privacy is important, so GodChat has created the  following Privacy Policy to let you know what information we collect when you  visit our website, why we collect it and how it is used.</p>
      <p>The terms &quot;you,&quot; &quot;your,&quot; and  &quot;yours&quot; refer to the customer using our website. The terms  &quot;Godchat&quot;, &quot;Company,&quot; &quot;we,&quot; &quot;us,&quot; and  &quot;our&quot; refer to Godchat. We may periodically make changes to this  Privacy Policy that we will include on this page. It is your responsibility to  review this Privacy Policy frequently and remain informed about any changes to  it, so we encourage you to visit this page often.</p>
      <p><strong>What Information Is Collected?</strong></p>
      <p>&quot;Personally identifiable information&quot; means any  information that may be used to identify an individual, including, but not  limited to, a first and last name, an email address, and or Facebook shared  information, whether at work or at home. When you use our website GodChat may  collect from you the following personally identifiable information: first and  last name, email address. GodChat also automatically receives and records  information on our server logs from your browser, including your IP address and  the page(s) you request. You can choose not to provide us with certain  information, but then you might not be able to take advantage of many of our features.</p>
      <p><strong>Is The Information Shared or Disclosed?</strong></p>
      <p>Godchat does not rent, sell or share personally identifiable  information it collects about you. Godchat may disclose personally identifiable  information if required to do so by law or in the good faith belief that such  action is necessary.</p>
      <p><strong>The Security of Your Information</strong></p>
      <p>We will take reasonable precautions to protect personally  identifiable information in our possession from loss, misuse, and unauthorized  access, disclosure, alteration, and destruction. We follow generally accepted  industry standards to protect the personally identifiable information submitted  to us, both during transmission and once we receive it. No method of  transmission over the Internet or method of electronic storage is, however,  100% secure. Therefore, while we strive to use commercially acceptable means to  protect your personally identifiable information, we cannot guarantee its  absolute security.</p>
      <p><strong>Children</strong></p>
      <p>Godchat and its implementation at sites like  watchthinkchat.com are not intended for or directed to persons under the age of  13. Any person who provides their information to Godchat represents to us that  they are 13 years of age or older.</p>
      <p><strong>Cookies</strong></p>
      <p>Cookies are small text files stored by your browser in your  computer when you visit our website.</p>
    </div>
  <%= render 'footer' %>
</div>