<div class="modal" id="privacy-policy" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
      </div>
      <div class="modal-body">
        <p>B)  feedback on &quot;Show challenge&quot;<br>
          Have the  show challenge operate once, then disabled, and have the visitor 1 button at  left, change to show that visitor 1 already has been issued the challenge. So I  can tell when I look at my three visitors</p>
        <p>&nbsp;</p>
        <p>C) I had  user select &quot;I want to start&quot; but they showed up as visitor, but no  button was registered against the person? Wired, I ended chat, and the pop up  did not register what button they had clicked also.  Some kind of error?</p>
        <p>&nbsp;</p>
        <p>D) We have  a major issue to solve, eg. Who are we putting into mission hub? All contacts?  And how do we leave chat and leave them to the friend know and trust part, but  not know what they did, or what emails they did or didn't sign up for? Can we  use mail chimp API to trigger modification at Mission hub?</p>
        <p>&nbsp;</p>
        <p>E) I have  engaged Andrew to work on the dashboard at owner area, at Godchat/owner Need  KPI (Key performance indicators for this dash board.)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>