  <div style="color:white;">
    <img src="<%= asset_path("growth_challenge_logo.png") %>" style="margin: auto;
            display: block;
            width: 270px;
            padding: 16px 0;">
    <div class="row">
      <div class="col-md-8 col-lg-9 col-sm-12 col-xs-12">
        <p>{{translation.GC_YOUR_FRIEND}} <strong>{{friendsName || friendsEmail}}</strong><span ng-bind-html="translation.GC_FRIEND_LEAD_IN"></span></p>
        <p style="padding-top:20px;"><strong>{{translation.GC_FRIEND_ACCEPT_CHALLENGE}}</strong></p>

        <form class="form-inline" data-ng-show="successfulSubscribe==''">
          <div class="form-group input">
            <input class="form-control" type="email" placeholder="Email" data-ng-model="visitor_email" ng-enter="emailSubscribe()">
            <a href="#" class="btn btn-danger" data-ng-click="facebookLogin();" ng-hide="visitor_fb_data" ng-attr-title="{{translation.GC_STEP1_FB_PRIVACY}}"><i class="fa fa-facebook-square"></i></a>
            <button type="submit" class="btn btn-default btn-danger" data-ng-click="emailSubscribe()">{{translation.GC_STEP1_SUBMIT}}</button>
          </div>
        </form>

        <div data-ng-show="successfulSubscribe != ''"><p>{{successfulSubscribe}}</p></div>
        <br>

        <p>*<a href="#" data-toggle="modal" data-target="#privacy-policy">{{translation.GC_STEP1_PRIVACY}}</a></p>
        <ul>
          <li ng-bind-html="translation.GC_FRIEND_PRIVACY_1"></li>
          <li ng-bind-html="translation.GC_FRIEND_PRIVACY_2"></li>
          <li ng-bind-html="translation.GC_FRIEND_PRIVACY_3"></li>
          </ul>
      </div>
      <div class="col-md-4 col-lg-3 col-sm-12 col-xs-12">
        <iframe style="margin:auto; display:block; max-width: 100%;" ng-src="{{campaign_data_vid_url}}" frameborder="0" allowfullscreen></iframe>
        <p>{{translation.GC_FRIEND_WATCH_VIDEO}}</p>
      </div>
    </div>
  </div>

<privacy-policy></privacy-policy>