  <div style="color:white;">
    <div class="container">
        <h1>Thank you</h1>
        <h4>HOW DO I GET STARTED AS A SPIRITUAL MENTOR?</h4>
        <p>Your friend is expecting to hear from you soon.<br>
        Please get in touch and set up your first get-together.</p>

        <h4>WHAT TO TALK ABOUT WHEN YOU FIRST MEET:</h4>
        <p>Celebrate your friend’s story. Ask your friend how they began their relationship with Jesus. If you’re not certain your friend fully understands what it means to be a Christian, this will be something to talk about early on in your mentoring relationship.<br>
        Share your own story. If your friend doesn’t already know your story, talk about what your own spiritual journey has been like.<br>
        Talk about expectations. Explain what spiritual mentoring is, so you’ll both be on the same page. Ask your friend what he or she is most hoping to learn during your times together, and share some of your own ideas for what should be covered. Try to set up a regular get-together and commit to meeting for at least 4-6 weeks.</p>

        <h4>FOR FOLLOW-UP MEETINGS:</h4>
        <p>If you’re a go-with-the-flow kind of person, you might be comfortable sitting down with your friend and seeing where the conversation goes. But if you’re more at ease having a bit of a plan, you could try something like this:<br>
        Catch up. Share how life’s going.</p>
        <p>Answer questions. Ask your friend if any spiritual questions came up this week.<br>
        <p>Focus on the basics. Work through a lesson or chapter in a ‘Christian basics’ resource.<br>
        Pray together. Share items for prayer and bring them to God together.</p>

        <h4>LINKS TO FREE DISCIPLESHIP MATERIALS DISCUSSING THE BASICS OF THE CHRISTIAN FAITH:</h4>
        <p>Essentials: A directed conversation around key passages of Scripture. Don't worry, you don't need to be a Bible scholar to lead a session.</p>

        <ol>
            <li>Assured: Gaining assurance of salvation<br>
                <a href="http://us6.campaign-archive1.com/?u=1b47a61580fbf999b866d249a&id=6947b7c6c0&e=[UNIQID]" target="_blank">Guide for Participants</a><br>

                <a href="http://us6.campaign-archive1.com/?u=1b47a61580fbf999b866d249a&id=539611f488&e=[UNIQID]" target="_blank">Guide for Mentors</a></li>


        <li>Forgiven: Experiencing God’s forgiveness<br>
        <a href="http://us6.campaign-archive2.com/?u=1b47a61580fbf999b866d249a&id=0867645417&e=[UNIQID]" target="_blank">Guide for Participants</a><br>
            <a href="http://us6.campaign-archive2.com/?u=1b47a61580fbf999b866d249a&id=3e8532b15b&e=[UNIQID]" target="_blank">Guide for Mentors</a></li>


        <li>Filled: Being filled with the Holy Spirit<br>
            <a href="http://us6.campaign-archive2.com/?u=1b47a61580fbf999b866d249a&id=4cba736294&e=[UNIQID]" target="_blank">Guide for Participants</a><br>

            <a href="http://us6.campaign-archive1.com/?u=1b47a61580fbf999b866d249a&id=54c614dc35&e=[UNIQID]" target="_blank">Guide for Mentors</a></li>


        <li>Continually: Relate to God all the time<br>
        Coming soon</li>

    </div>
