'use strict';

angular.module('chatApp').controller('ChatController', function ($scope, $rootScope, $route, $http, $location, $filter, $timeout) {
  //window.localStorage.removeItem('gchat_visitor_id');
  var campaign_data;
  var visitor_data = {};
  var chat_data = {
    chat_uid: ''
  };
  var operator_data = {
    uid: $location.search()['o'] || ''
  };
  var video_completed=false;
  var window_focus=false;
  var YTplayer;

  $http({method: 'GET', url: '/api/campaigns/' + $route.current.params.campaignId}).
    success(function (data, status, headers, config) {
      campaign_data = data;
      campaign_data.video_start = 0;
      campaign_data.video_end = 235;

      $scope.campaign_data = campaign_data;
      window.document.title = campaign_data.title;

      if (campaign_data.type === 'youtube') {
        var tag = document.createElement('script');
        var title = document.title;
        tag.src = "//www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        window.onYouTubeIframeAPIReady = function () {
          YTplayer = new YT.Player('player', {
            videoId: campaign_data.video_id,
            playerVars: {
              autoplay: 0,
              modestbranding: 1,
              rel: 0,
              showinfo: 0,
              iv_load_policy: 3,
              html5: 1,
              start: campaign_data.video_start,
              end: campaign_data.video_end
            },
            events: {
              'onStateChange': onPlayerStateChange
            }
          });
          $('.box, #chat').addClass('paused');
        };
      }

      if(campaign_data.preemptive_chat){
        $scope.startChat('');
      }

      $scope.campaign_data.followup_buttons.push({
        id: 1,
        text: 'No thanks',
        action: 'chat',
        value: '',
        message_active_chat: 'We appreciate the time you gave to watch Falling Plates.Thanks for telling us straight up what you think. There is obviously a reason in your mind right now that causes you to say no to following Jesus. We would love to have a chat about it, if you are interested lets chat on your right hand side--->',
        message_no_chat: 'Thanks for telling us straight up what you think. We really appreciate the time you gave to watch Falling Plates. There is obviously a reason in your mind right now that causes you to say no to following Jesus.'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 2,
        text: 'I follow another faith',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for taking time to watch #Fallingplates and considering how Jesus desires to bring life to you today. What is it that you find interesting about Jesus? Lets chat on your right hand side ----->',
        message_no_chat: 'Thanks for taking time to watch #Fallingplates and considering how Jesus desires to bring life to you today. We would like to help you understand the uniqueness of Jesus and what we believe he has done for you. If you are interested we have an article here that you could look into and see if Jesus is really is ----> '
      });
      $scope.campaign_data.followup_buttons.push({
        id: 3,
        text: 'I am not sure',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for watching #FallingPlates and considering Jesus\'s call to follow Him. Right now u feel "not sure"? Well we are pumped that u are at least considering following Jesus! What is one thing that is attractive to u in following Jesus? What is one thing that makes u hesitant? Love to chat with ya about this stuff in the chat panel on the right :)   ----->',
        message_no_chat: 'Thanks for taking time to watch #FallingPlates and for considering Jesus’s call to follow Him.So you identified that you are "not sure" right now. Well we are glad that you are at least considering following Jesus. What is one thing that is attractive to you in following Jesus? What is one thing that makes you hesitant? We have a growth challenge that can help you find significance in following Jesus. Find out more "take the Growth Challenge" ------>'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 4,
        text: 'I want to start',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for taking time to watch #FallingPlates and for considering Jesus’s call to follow Him. To desire to start following Jesus is a significant step! Its awesome to see you have that desire! Tell us a bit about what’s up? Luv to chat with ya about this stuff in the chat panel on the right :)   ----->',
        message_no_chat: 'Thanks for taking time to watch #FallingPlates and for considering Jesus’s call to follow Him. To want to begin to start following Jesus is a significant step. It’s awesome to see you have that desire! We have a growth challenge that can help u grow after u have asked Christ to come into your life. Heres the best place for u to get connected with a friend to grow :)'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 5,
        text: 'I\'m trying',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for watching #FallingPlates and taking time to express how u feel about following Jesus. Sometimes we feel like we will never get there, be good enough or be the person God wants us to be…….which can leave us feeling disappointed or disillusioned. Love to chat with ya about this stuff in the chat panel on the right :)   ----->',
        message_no_chat: 'Thanks for watching #FallingPlates and taking time to express how u feel about following Jesus. Sometimes we feel like we will never get there, be good enough or be the person God wants us to be…….which can leave us feeling disappointed or disillusioned. We have a Growth Challenge that can help you find real satisfaction and confidence in following Jesus. It will help you understand that the relationship is based on his efforts which are sufficient :)'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 6,
        text: 'I\'m following Jesus',
        action: 'chat',
        value: '',
        message_active_chat: 'We are pumped that u are following Jesus! We would love to connect with u and discover how your journey is going and what you think the next steps are to be who He wants you to be? Lets chat over on your right-----> :)',
        message_no_chat: 'We are pumped that u are following Jesus! We know that its not always an easy path, but it’s definitely worth it :)  We dont know all thats going on in your life today, but we are glad He led you here! It’s our goal to help you grow and to help you have influence. We would love to connect you with someone in the adventure of knowing Jesus. You up for the challenge?'
      });
    }).error(function (data, status, headers, config) {

    });

  if (!window.localStorage.getItem('gchat_visitor_id')) {
    $http({method: 'POST', url: '/api/visitors'}).
      success(function (data, status, headers, config) {
        visitor_data = data;
        //console.log('================ New Visitor Created: ' + data.uid);
        window.localStorage.setItem('gchat_visitor_id', visitor_data.uid)
      }).error(function (data, status, headers, config) {

      });
  } else {
    visitor_data.uid = window.localStorage.getItem('gchat_visitor_id');
  }

  $scope.postMessage = function () {
    if($scope.chatMessage==''){
      return;
    }
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: 'user',
      message: $scope.chatMessage
    };
    $scope.chatMessage = '';
    $('.chat-input').attr('placeholder','Sending...');
    $http({method: 'POST', url: '/api/chats/'+chat_data.chat_uid+'/messages', data: post_data}).
      success(function (data, status, headers, config) {
        $('.chat-input').attr('placeholder','Message...');
        $('.conversation').append('<li>      <div class="message text-right">' + post_data.message + '</div>      <div class="timestamp pull-right timestamp-refresh" timestamp="' + Math.round(+new Date()).toString() + '">Just Now</div>      <div class="person">You</div></li>');
        $('.conversation').scrollTop($('.conversation')[0].scrollHeight);
      }).error(function (data, status, headers, config) {
        $('.chat-input').attr('placeholder','Message...');
      });
  };

  $scope.startChat = function(initialMsg){
    if(!video_completed && !campaign_data.preemptive_chat){
      $('#finishVideo').fadeIn(1).delay(3000).fadeOut(1);
      $('#start-chat-panel').fadeOut(1).delay(3000).fadeIn(1);
      return;
    }
    if(chat_data.chat_uid){ //chat already started
      return;
    }

    var data = {
      campaign_uid: campaign_data.uid,
      visitor_uid: visitor_data.uid,
      operator_uid: operator_data.uid
    };
    $http({method: 'POST', url: '/api/chats', data: data}).
      success(function (data, status, headers, config) {
        chat_data = data;
        operator_data = data.operator;
        if(angular.isDefined($scope.button_clicked)){
          $scope.button_clicked.message_visible = $scope.button_clicked.message_active_chat;
        }
        //console.log('================ New Chat Created: ' + data.chat_uid);
        window.localStorage.setItem('gchat_chat_uid', chat_data.chat_uid);

        $('#chatbox, #after-chat-information-01').fadeIn();
        $('#start-chat-panel').hide();

        $('#chatting_with').html('<img src="' + operator_data.profile_pic + '" style="float:left; padding:6px;">   <div class="message">You are chatting with<br>' + operator_data.name + '</div>');
        var pusher = new Pusher('249ce47158b276f4d32b');
        pusher.subscribe('visitor_' + visitor_data.uid);
        var channel_chat = pusher.subscribe('chat_'+chat_data.chat_uid);
        channel_chat.bind('event', function (data) {
          if (data.user_uid != visitor_data.uid) {
            if (data.message_type == 'activity') {
              if(data.message == 'challenge'){
                $('.after-chat-challenge').fadeIn();
                if(window.innerWidth <= 800){
                  $('#after-chat-information-01').fadeOut();
                }
                $scope.postActivityMessage('Growth Challenge visible');
              }
            } else {
              $('.conversation').append('<li>      <div class="message">' + data.message + '</div>      <div class="timestamp pull-right timestamp-refresh" timestamp="' + Math.round(+new Date()).toString() + '">Just Now</div>      <div class="person">' + operator_data.name + '</div></li>');
              $('.conversation').scrollTop($('.conversation')[0].scrollHeight);

              if (!window_focus) {
                $('#newMsgAlert')[0].play();
              }
            }
          }
        });

        channel_chat.bind('end', function (data) {
          pusher.unsubscribe('chat_'+chat_data.chat_uid);
          $('#chatbox').fadeOut();
          $('#chatEnd').fadeIn();
          $('.conversation').empty();
          chat_data.chat_uid = '';
        });

        if(initialMsg){
          $timeout(function(){ $scope.postActivityMessage(initialMsg, 'activity-button'); }, 2500);
        }
        $timeout(function(){ $scope.postActivityMessage(clientIP, 'ip'); }, 2600);
        $timeout(function(){ $scope.postActivityMessage(getBrowser(), 'browser'); }, 2800);
        $timeout(function(){ $scope.postActivityMessage(getOS(), 'os'); }, 3000);
      }).error(function (data, status, headers, config) {
        if(data.error === 'Operator offline'){
          chat_data.chat_uid = 'offline';
          $scope.button_clicked.message_visible = $scope.button_clicked.message_no_chat || '';
          $('#after-chat-information-01, #noOperators, .after-chat-challenge').fadeIn();
        }else{
          alert('Error: ' + (data.error || 'Cannot create new chat.'));
        }
      });
  };

  var launchWebPage = function(url){
    $('#player').hide();
    $('#webpage').show();
    $('#webpage').attr('src',url);
  };

  $scope.buttonClick = function(button){
    $('.after-chat-buttons, .after-chat-title').fadeOut();
    $('.box').css('overflow-y','auto');

    $scope.button_clicked = button;

    if(button.action == 'url'){
      launchWebPage(button.value);
    }else{
      if(!chat_data.chat_uid){
        $scope.startChat(button.text);
      }else{
        $scope.postActivityMessage(button.text, 'activity-button');
        $scope.button_clicked.message_visible = $scope.button_clicked.message_active_chat;
      }
    }
  };

  $scope.postActivityMessage = function(message, message_type){
    if(message_type){
      //var message_type=message_type;
    }else{
      var message_type='activity';
    }
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: message_type,
      message: message
    };
    $http({method: 'POST', url: '/api/chats/'+chat_data.chat_uid+'/messages', data: post_data}).
      success(function (data, status, headers, config) {
      }).error(function (data, status, headers, config) {
      });
  };

  var timeUpdate = setInterval(function () {
    $('.conversation .timestamp-refresh').each(function (i) {
      var origtime = parseInt($(this).attr('timestamp'));
      var unixtime = Math.round(+new Date());

      if ((unixtime - origtime) < 10000) {
        $(this).html('Just Now');
      } else if ((unixtime - origtime) < 60000) {
        $(this).html('about ' + Math.round((unixtime - origtime)/1000).toString() + ' seconds ago');
      } else if ((unixtime - origtime) < 120000) {
        $(this).html('about 1 min ago');
      } else if ((unixtime - origtime) < 240000) {
        $(this).html('about ' + Math.floor(((unixtime - origtime) / 60000)).toString() + ' mins ago');
      }else{
        $(this).html($filter('date')(origtime, 'shortTime'));
        $(this).removeClass('timestamp-refresh');
      }
    });
  }, 5000);

  var onPlayerStateChange = function (evt) {
    switch (evt.data) {
      case YT.PlayerState.PLAYING:
        break;
      case YT.PlayerState.ENDED:
        if(!video_completed){
          $('.after-chat-buttons, .after-chat-title').fadeIn(2000);
          //$('.box #player').css('opacity','.3');
          YTplayer.stopVideo();
          YTplayer.clearVideo();
          $("#player").remove();
        }
        video_completed=true;
        break;
      case YT.PlayerState.PAUSED:
        break;
    }
  };

  $(window).focus(function() {
    window_focus=true;
  }).blur(function() {
    window_focus=false;
  });

  var getBrowser = function(){
    var ua= navigator.userAgent, tem,
      M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
    if(/trident/i.test(M[1])){
      tem=  /\brv[ :]+(\d+(\.\d+)?)/g.exec(ua) || [];
      return 'IE '+(tem[1] || '');
    }
    M= M[2]? [M[1], M[2]]:[navigator.appName, navigator.appVersion, '-?'];
    if((tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    return M.join(' ');
  }

  var getOS = function(){
    var OSName="Unknown OS";
    if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
    if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
    if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
    if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";
    return OSName;
  }
});