'use strict';

angular.module('chatApp').controller('ChatController', function ($scope, $rootScope, $route, $http, $location, $filter, $timeout) {
  var campaign_data;
  var visitor_data = {};
  $scope.visitor_fb_data = {
    id: '',
    name: '',
    first_name:'',
    last_name: '',
    email: ''
  };
  var chat_data = {
    chat_uid: ''
  };
  var operator_data = {
    uid: $location.search()['o'] || ''
  };
  var video_completed=false;
  var window_focus=false;
  var YTplayer;
  $scope.growthChallengeStep = -1;
  $scope.liveChat=false;
  $scope.mobileMinChat=true;

  $http({method: 'GET', url: '/api/campaigns/' + $route.current.params.campaignId}).
    success(function (data, status, headers, config) {
      campaign_data = data;
      campaign_data.video_start = 0;
      campaign_data.video_end = 235;

      $scope.campaign_data = campaign_data;
      window.document.title = campaign_data.title;

      if (campaign_data.type === 'youtube') {
        var tag = document.createElement('script');
        var title = document.title;
        tag.src = "//www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        window.onYouTubeIframeAPIReady = function () {
          YTplayer = new YT.Player('player', {
            //videoId: campaign_data.video_id,
            videoId: 'KGlx11BxF24',
            playerVars: {
              autoplay: 0,
              modestbranding: 1,
              rel: 0,
              showinfo: 0,
              iv_load_policy: 3,
              html5: 1,
              start: campaign_data.video_start,
              end: campaign_data.video_end
            },
            events: {
              'onStateChange': onPlayerStateChange
            }
          });
          //$('.box, #chat').addClass('paused');
        };
      }

      if(campaign_data.preemptive_chat){
        $scope.startChat('');
      }

      $scope.campaign_data.followup_buttons.push({
        id: 1,
        text: 'No thanks',
        action: 'chat',
        value: '',
        message_active_chat: 'We appreciate the time you gave to watch Falling Plates.Thanks for telling us straight up what you think. There is obviously a reason in your mind right now that causes you to say no to following Jesus. We would love to have a chat about it, if you are interested lets chat on your right hand side--->',
        message_no_chat: 'Thanks for telling us straight up what you think. We really appreciate the time you gave to watch Falling Plates. There is obviously a reason in your mind right now that causes you to say no to following Jesus.'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 2,
        text: 'I follow another faith',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for taking time to watch #Fallingplates and considering how Jesus desires to bring life to you today. What is it that you find interesting about Jesus? Lets chat on your right hand side ----->',
        message_no_chat: 'Thanks for taking time to watch #Fallingplates and considering how Jesus desires to bring life to you today. We would like to help you understand the uniqueness of Jesus and what we believe he has done for you. If you are interested we have an article here that you could look into and see if Jesus is really is ----> '
      });
      $scope.campaign_data.followup_buttons.push({
        id: 3,
        text: 'I am not sure',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for watching #FallingPlates and considering Jesus\'s call to follow Him. Right now u feel "not sure"? Well we are pumped that u are at least considering following Jesus! What is one thing that is attractive to u in following Jesus? What is one thing that makes u hesitant? Love to chat with ya about this stuff in the chat panel on the right :)   ----->',
        message_no_chat: 'Thanks for taking time to watch #FallingPlates and for considering Jesus’s call to follow Him.So you identified that you are "not sure" right now. Well we are glad that you are at least considering following Jesus. What is one thing that is attractive to you in following Jesus? What is one thing that makes you hesitant? We have a growth challenge that can help you find significance in following Jesus. Find out more "take the Growth Challenge" ------>'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 4,
        text: 'I want to start',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for taking time to watch #FallingPlates and for considering Jesus’s call to follow Him. To desire to start following Jesus is a significant step! Its awesome to see you have that desire! Tell us a bit about what’s up? Luv to chat with ya about this stuff in the chat panel on the right :)   ----->',
        message_no_chat: 'Thanks for taking time to watch #FallingPlates and for considering Jesus’s call to follow Him. To want to begin to start following Jesus is a significant step. It’s awesome to see you have that desire! We have a growth challenge that can help u grow after u have asked Christ to come into your life. Heres the best place for u to get connected with a friend to grow :)'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 5,
        text: 'I\'m trying',
        action: 'chat',
        value: '',
        message_active_chat: 'Thanks for watching #FallingPlates and taking time to express how u feel about following Jesus. Sometimes we feel like we will never get there, be good enough or be the person God wants us to be…….which can leave us feeling disappointed or disillusioned. Love to chat with ya about this stuff in the chat panel on the right :)   ----->',
        message_no_chat: 'Thanks for watching #FallingPlates and taking time to express how u feel about following Jesus. Sometimes we feel like we will never get there, be good enough or be the person God wants us to be…….which can leave us feeling disappointed or disillusioned. We have a Growth Challenge that can help you find real satisfaction and confidence in following Jesus. It will help you understand that the relationship is based on his efforts which are sufficient :)'
      });
      $scope.campaign_data.followup_buttons.push({
        id: 6,
        text: 'I\'m following Jesus',
        action: 'chat',
        value: '',
        message_active_chat: 'We are pumped that u are following Jesus! We would love to connect with u and discover how your journey is going and what you think the next steps are to be who He wants you to be? Lets chat over on your right-----> :)',
        message_no_chat: 'We are pumped that u are following Jesus! We know that its not always an easy path, but it’s definitely worth it :)  We dont know all thats going on in your life today, but we are glad He led you here! It’s our goal to help you grow and to help you have influence. We would love to connect you with someone in the adventure of knowing Jesus. You up for the challenge?'
      });
    }).error(function (data, status, headers, config) {

    });

  //if (!window.localStorage.getItem('gchat_visitor_id')) {
    $http({method: 'POST', url: '/api/visitors'}).
      success(function (data, status, headers, config) {
        visitor_data = data;
        visitor_data.profile_pic = '<%= asset_path("avatar.png") %>';
        //console.log('================ New Visitor Created: ' + data.uid);
        //window.localStorage.setItem('gchat_visitor_id', visitor_data.uid)
      }).error(function (data, status, headers, config) {
      });
//  } else {
//    visitor_data.uid = window.localStorage.getItem('gchat_visitor_id');
//  }

  $scope.postMessage = function () {
    if($scope.chatMessage==''){
      return;
    }
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: 'user',
      message: $scope.chatMessage
    };
    $scope.chatMessage = '';
    $('.chat-input').attr('placeholder','Sending...');
    $http({method: 'POST', url: '/api/chats/'+chat_data.chat_uid+'/messages', data: post_data}).
      success(function (data, status, headers, config) {
        $('.chat-input').attr('placeholder','Message...');
        $('.body').append('<div class="content"><img class="avatar" src="' + visitor_data.profile_pic + '"><div class="message">' + post_data.message + '</div>' +
                '<div class="name muted"><div class="date timestamp-refresh" timestamp="' + Math.round(+new Date()).toString() + '">Just Now</div>You</div>' +
                '</div>');
        $('.body').scrollTop($('.body')[0].scrollHeight);
      }).error(function (data, status, headers, config) {
        $('.chat-input').attr('placeholder','Message...');
      });
  };

  $scope.startChat = function(initialMsg){
    if(!video_completed && !campaign_data.preemptive_chat){
      $('#finishVideo').fadeIn(1).delay(3000).fadeOut(1);
      $('#start-chat-panel').fadeOut(1).delay(3000).fadeIn(1);
      return;
    }
    if(chat_data.chat_uid){ //chat already started
      return;
    }

    var data = {
      campaign_uid: campaign_data.uid,
      visitor_uid: visitor_data.uid,
      operator_uid: operator_data.uid
    };
    $http({method: 'POST', url: '/api/chats', data: data}).
      success(function (data, status, headers, config) {
        chat_data = data;
        operator_data = data.operator;
        if(angular.isDefined($scope.button_clicked)){
          $scope.button_clicked.message_visible = $scope.button_clicked.message_active_chat;
        }
        //console.log('================ New Chat Created: ' + data.chat_uid);
        //window.localStorage.setItem('gchat_chat_uid', chat_data.chat_uid);

        $scope.liveChat=true;
        $scope.growthChallengeStep = 1;

        $('.operator').html('<img class="avatar" src="' + operator_data.profile_pic + '">' +
                '<div class="message">You are chatting with<br>' + operator_data.name + '</div>');
        var pusher = new Pusher('249ce47158b276f4d32b');
        pusher.subscribe('visitor_' + visitor_data.uid);
        var channel_chat = pusher.subscribe('chat_'+chat_data.chat_uid);
        channel_chat.bind('event', function (data) {
          if (data.user_uid != visitor_data.uid) {
            if (data.message_type == 'activity') {
              if(data.message == 'challenge'){
                $('.after-chat-challenge').fadeIn();
                $scope.postActivityMessage('Growth Challenge visible');
              }
            } else {
              $('.body').append('<div class="content odd"><img class="avatar" src="' + operator_data.profile_pic + '"><div class="message">' + data.message + '</div>' +
                      '<div class="name muted"><div class="date timestamp-refresh" timestamp="' + Math.round(+new Date()).toString() + '">Just Now</div>' + operator_data.name + '</div>' +
                      '</div>');
              $('.body').scrollTop($('.body')[0].scrollHeight);

              if (!window_focus) {
                $('#newMsgAlert')[0].play();
              }
            }
          }
        });

        channel_chat.bind('end', function (data) {
          pusher.unsubscribe('chat_'+chat_data.chat_uid);
          //$('#chatbox').fadeOut();
          $('#chatEnd').fadeIn();
          $('.body').empty();
          $scope.liveChat=false;
          chat_data.chat_uid = '';
        });

        if(initialMsg){
          $timeout(function(){ $scope.postActivityMessage(initialMsg, 'activity-button'); }, 2500);
        }
        $timeout(function(){ $scope.postActivityMessage(clientIP, 'ip'); }, 2600);
        $timeout(function(){ $scope.postActivityMessage(getBrowser(), 'browser'); }, 2800);
        $timeout(function(){ $scope.postActivityMessage(getOS(), 'os'); }, 3000);
      }).error(function (data, status, headers, config) {
        if(data.error === 'no_operators_available'){
          chat_data.chat_uid = 'offline';
          $scope.button_clicked.message_visible = $scope.button_clicked.message_no_chat || '';
          $('#noOperators, .after-chat-challenge').fadeIn();
          $scope.growthChallengeStep=1;
        }else{
          alert('Error: ' + (data.message || 'Cannot create new chat.'));
        }
      });
  };

  var launchWebPage = function(url){
    $('#player').hide();
    $('#webpage').show();
    $('#webpage').attr('src',url);
  };

  $scope.buttonClick = function(button){
    $scope.button_clicked = button;

    if(button.action == 'url'){
      launchWebPage(button.value);
    }else{
      if(!chat_data.chat_uid){
        $scope.startChat(button.text);
      }else{
        $scope.postActivityMessage(button.text, 'activity-button');
        $scope.button_clicked.message_visible = $scope.button_clicked.message_active_chat;
        $scope.growthChallengeStep = 1;
      }
    }
  };

  $scope.postActivityMessage = function(message, message_type){
    if(message_type){
      //var message_type=message_type;
    }else{
      var message_type='activity';
    }
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: message_type,
      message: message
    };
    $http({method: 'POST', url: '/api/chats/'+chat_data.chat_uid+'/messages', data: post_data}).
      success(function (data, status, headers, config) {
      }).error(function (data, status, headers, config) {
      });
  };

  $scope.facebookLogin = function(){
    FB.login(function(response) {
      if (response.authResponse) {
        FB.api('/me', function(response) {
          //console.log(response);
          postVisitorInfo(response);
          visitor_data.profile_pic = 'http://graph.facebook.com/'+response.id+'/picture?width=45&height=45';
          $scope.visitor_email = response.email;
          $scope.visitor_fb_data = response;
        });
      }
    });
  }

  $scope.growthChallengeNextStep = function(step){
    if(step==2){
      $('.after-chat-challenge').hide();
      $scope.growthChallengeStep=2;
    }else if(step==3){
      var button_id = $scope.button_clicked.id;
      $scope.friend_url = 'http://www.watchthinkchat.com/challenge/friend?session='+chat_data.chat_uid+'&button_id='+button_id
      $http({method: 'JSONP',
        url: 'https://gcx.us6.list-manage.com/subscribe/post-json?u=1b47a61580fbf999b866d249a&id=c3b97c030f' +
                '&EMAIL=' + encodeURIComponent($scope.visitor_email) +
                '&FNAME=' + encodeURIComponent($scope.visitor_fb_data.first_name) +
                '&LNAME=' + encodeURIComponent($scope.visitor_fb_data.last_name) +
                '&RESPCODE=' + encodeURIComponent(button_id) +
                '&c=JSON_CALLBACK'
      }).success(function (data, status, headers, config) {
        if (data.result === 'success') {
          $scope.growthChallengeStep=3;

          try{
            $scope.postActivityMessage('Visitor has signed up for the Growth Challenge.');
          }catch(e){
          }

          //notify mission hub
          var post_data = {
            fb_uid: $scope.visitor_fb_data.id,
            visitor_email: $scope.visitor_email,
            challenge_subscribe_self: true
          };
          $http({method: 'PUT', url: '/api/visitors/'+visitor_data.uid, data: post_data}).
                  success(function (data, status, headers, config) {
                  }).error(function (data, status, headers, config) {
                  });
        } else {
          alert('Error: ' + data.msg);
        }
      }).error(function (data, status, headers, config) {
        alert('Error: Could not connect to mail service.');
      });
    }
  }

  $scope.growthChallengePrevStep = function(){
    if($scope.growthChallengeStep===1){
      $scope.growthChallengeStep=0;
    }
  }

  $scope.growthChallengeInviteFriend = function(how){
    if(how=='fb'){
      FB.ui({
        method: 'send',
        link: $scope.friend_url
      });
      $scope.growthChallengeStep=10;
    }else if(how=='email'){
      $scope.email_message='I just watched a Christian film called #FallingPlates and decided to accept the "Growth Challenge" that was offered. I got to pick one friend to help me grow spiritually and I chose you!\n\n' +
              'Would you be willing to help by looking at the email content we would get, and then discussing it with me? This means 4 emails, 4 conversations over 4 weeks. That\'s it.\n\n' +
              'Lets take the challenge together!\n\n' +
              'You can click here to find out more information:\n' +
              $scope.friend_url;
      $('#growth-challenge-invite-friend').modal({backdrop: true, show: true});
    }else if(how=='sendemail'){
      if(!$scope.visitor_name){
        alert('Please enter Your Name.');
        return;
      }
      if(!validateEmail($scope.visitor_email)){
        alert('Your Email must be a valid email address.');
        return;
      }
      if(!validateEmail($scope.friend_email)){
        alert('Your Friend\'s Email must be a valid email address.');
        return;
      }

      //Send email
      $('#growth-challenge-invite-friend .modal-footer button').hide();
      $('#growth-challenge-invite-friend .modal-footer p').show();
      var post_data = {
        to: $scope.friend_email,
        from: $scope.visitor_email,
        from_name: $scope.visitor_name,
        subject: 'Take the "Growth Challenge" with me',
        message: $scope.email_message
      };
      $http({method: 'POST', url: '/api/emails', data: post_data}).
        success(function (data, status, headers, config) {
          $('#growth-challenge-invite-friend').modal('hide');
          $scope.growthChallengeStep=10;
        }).error(function (data, status, headers, config) {
          $('#growth-challenge-invite-friend .modal-footer button').show();
          $('#growth-challenge-invite-friend .modal-footer p').hide();
          alert('Error: '+data);
        });
    }
  }

  var postVisitorInfo = function(data){
    try{
      $scope.postActivityMessage('Visitor has logged in with Facebook.');
    }catch(e){}
    var chat_uid = chat_data.chat_uid;
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: 'fbName',
      message: data.name
    };
    $http({method: 'POST', url: '/api/chats/'+chat_uid+'/messages', data: post_data}).
            success(function (data, status, headers, config) {
            }).error(function (data, status, headers, config) {
            });
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: 'fbEmail',
      message: data.email
    };
    $http({method: 'POST', url: '/api/chats/'+chat_uid+'/messages', data: post_data}).
            success(function (data, status, headers, config) {
            }).error(function (data, status, headers, config) {
            });
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: 'fbId',
      message: data.id
    };
    $http({method: 'POST', url: '/api/chats/'+chat_uid+'/messages', data: post_data}).
            success(function (data, status, headers, config) {
            }).error(function (data, status, headers, config) {
            });
  }

  $scope.updateVisitorName = function(){
    var post_data = {
      user_uid: visitor_data.uid,
      message_type: 'fbName',
      message: $scope.visitor_fb_data.name
    };
    $http({method: 'POST', url: '/api/chats/'+chat_data.chat_uid+'/messages', data: post_data}).
      success(function (data, status, headers, config) {
      }).error(function (data, status, headers, config) {
      });
  }

  var timeUpdate = setInterval(function () {
    $('.body .timestamp-refresh').each(function (i) {
      var origtime = parseInt($(this).attr('timestamp'));
      var unixtime = Math.round(+new Date());

      if ((unixtime - origtime) < 10000) {
        $(this).html('Just Now');
      } else if ((unixtime - origtime) < 60000) {
        $(this).html('about ' + Math.round((unixtime - origtime)/1000).toString() + ' seconds ago');
      } else if ((unixtime - origtime) < 120000) {
        $(this).html('about 1 min ago');
      } else if ((unixtime - origtime) < 240000) {
        $(this).html('about ' + Math.floor(((unixtime - origtime) / 60000)).toString() + ' mins ago');
      }else{
        $(this).html($filter('date')(origtime, 'shortTime'));
        $(this).removeClass('timestamp-refresh');
      }
    });
  }, 5000);

  var onPlayerStateChange = function (evt) {
    switch (evt.data) {
      case YT.PlayerState.PLAYING:
        break;
      case YT.PlayerState.ENDED:
        if(!video_completed){
          $scope.$apply(function(){
            $scope.growthChallengeStep = 0;
          });
          //$('.box #player').css('opacity','.3');
          YTplayer.stopVideo();
          YTplayer.clearVideo();
          $("#player").remove();
        }
        video_completed=true;
        break;
      case YT.PlayerState.PAUSED:
        break;
    }
  };

  var getBrowser = function(){
    var ua= navigator.userAgent, tem,
      M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*([\d\.]+)/i) || [];
    if(/trident/i.test(M[1])){
      tem=  /\brv[ :]+(\d+(\.\d+)?)/g.exec(ua) || [];
      return 'IE '+(tem[1] || '');
    }
    M= M[2]? [M[1], M[2]]:[navigator.appName, navigator.appVersion, '-?'];
    if((tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    return M.join(' ');
  }

  var getOS = function(){
    var OSName="Unknown OS";
    if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
    if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
    if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
    if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";
    return OSName;
  }
  var validateEmail = function(email) {
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
  }


  $(window).focus(function() {
    window_focus=true;
  }).blur(function() {
    window_focus=false;
  });

  FB.init({
    appId      : '555591577865154',
    status     : true,
    xfbml      : true
  });
});