/*
 *= require 'bootstrap'
 *= require 'font-awesome'
 *= require 'visitor_chat_css.css'
 *= require_self
 */


.after-chat-challenge {
    display: none;
}
#player{
    position: absolute;
    height: 100%;
    padding: 0;
}
.modal a, .modal a:link, .modal a:visited {
    color: initial;
}
label{
    font-weight: 200 !important;
}